Source: designate
Section: python
Priority: extra
Maintainer: Kiall Mac Innes <kiall@managedit.ie>
Build-Depends:
    debhelper (>= 8.0.0),
    python-all (>= 2.6),
    python-pbr,
    python-d2to1,
    python-sphinx,
    python-extras,
    python-webob,
    python-routes,
    python-sqlalchemy (>= 0.7),
    python-sqlalchemy (<= 0.7.99),
    python-sqlalchemy-ext,
    python-migrate,
    python-stevedore,
    python-paste,
    python-pastedeploy,
    python-ipaddr,
    python-jsonschema (>= 0.8),
    python-jsonschema (<=1.0),
    python-flask,
    python-iso8601,
    python-eventlet,
    python-cliff,
    python-kombu,
    python-keystoneclient,
    python-mock,
    python-mox,
    python-unittest2,
    python-nose
Build-Depends-Indep:
    python-setuptools
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
Homepage: https://launchpad.net/designate
Vcs-Git: https://github.com/stackforge/designate.git
Vcs-Browser: https://github.com/stackforge/designate

Package: designate
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    designate-common (= ${binary:Version}),
    designate-central (= ${binary:Version}),
    designate-api (= ${binary:Version}),
    designate-agent (= ${binary:Version}),
    ${misc:Depends}
Description: Designate Virtual Package
 Designate Virtual Package

Package: designate-common
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    python-pyparsing,
    python-jsonschema (>= 0.8.0),
    ${misc:Depends}
Description: Designate Common
 Designate Common

Package: designate-api
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    designate-common (= ${binary:Version}),
    ${python:Depends},
    ${misc:Depends}
Description: Designate API
 Designate API

Package: designate-central
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    designate-common (= ${binary:Version}),
    ${python:Depends},
    ${misc:Depends}
Description: Designate Central
 Designate Central

Package: designate-agent
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    designate-common (= ${binary:Version}),
    ${python:Depends},
    ${misc:Depends}
Description: Designate Agent
 Designate Agent

Package: designate-sink
Architecture: all
Depends:
    python-designate (= ${binary:Version}),
    designate-common (= ${binary:Version}),
    ${python:Depends},
    ${misc:Depends}
Description: Designate Sink
 Designate Sink

Package: python-designate
Architecture: all
Depends:
    ${python:Depends},
    ${misc:Depends}
Recommends:
    python-sqlalchemy (>= 0.7),
    python-sqlalchemy (<= 0.7.99),
    python-migrate,
    python-kombu,
    python-keystoneclient
Provides:
    ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Designate Python Libraries
 Designate Python Libraries

Package: moniker-common
Depends: designate-common (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: moniker-api
Depends: designate-api (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: moniker-central
Depends: designate-central (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: moniker-agent
Depends: designate-agent (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: moniker-sink
Depends: designate-sink (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: python-moniker
Depends: python-designate (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.
